@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.column-map {
  display: flex;
  position: absolute;
  width: 110px;
  height: 320px;
  border: 2px solid black;
  border-top: none;
  border-bottom: none;
  z-index: -1;
  align-self: center;
  justify-self: center;
}

.row-map {
  display: flex;
  position: absolute;
  width: 320px;
  height: 110px;
  border: 2px solid black;
  border-right: none;
  border-left: none;
  z-index: -1;
  align-self: center;
  justify-self: center;
}

.squares {
  width: 330px;
  height: 330px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  
}

.restart-window {
  display: grid;
  height: 100px;
  width: 300px;
}

.restart-btn {
  height: 50%;
  width: 50%;
  justify-self: center;
  align-self: center;
  border: 2px solid rgb(93, 132, 231);
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
}

.restart-btn:hover {
  border: none;
  background-color: rgb(136, 165, 240);
  cursor: pointer;
  transition: 0.3s;
}

.restart-btn:hover .bi.bi-arrow-repeat {
color: white;
}

.bi.bi-arrow-repeat {
  font-size: 22px;
  color: rgb(93, 132, 231);
}

.winner {
  display: grid;
  height: 100px;
  width: 300px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: 'Special Elite', cursive;
}
